@font-face {
    font-family: "Futura PT";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/regular.woff2") format("woff2"),
        url("../fonts/regular.woff") format("woff");
}

@font-face {
    font-family: "Futura PT";
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/medium.woff2") format("woff2"),
        url("../fonts/medium.woff") format("woff");
}

@font-face {
    font-family: "Futura PT";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/semibold.woff2") format("woff2"),
        url("../fonts/semibold.woff") format("woff");
}

@font-face {
    font-family: "Futura PT";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/bold.woff2") format("woff2"),
        url("../fonts/bold.woff") format("woff");
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Futura PT", Arial, sans-serif;
    background: #f9f9f9 url("../images/bg.png") center calc(114px);
    overflow-x: hidden;
}

img {
    display: block;
    height: auto;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/*header style*/

.site-header {
    background-color: #f9f9f9;
}

.site-header-wrapper {
    display: flex;
    flex-direction: column;
}

.header-start-wrapper {
    display: flex;
    align-items: center;
}

.site-header-address {
    font-style: normal;
}

.site-header-address-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location-link {
    position: relative;
    margin-left: 216px;
    margin-right: 128px;
    padding-top: 14px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.location-link::before {
    position: absolute;
    top: 16px;
    left: calc(-14px - 9px);
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url("../images/house.svg");
    background-position: center;
    background-size: 14px 13px;
    content: "";

}

.header-tel-list,
.header-time-list,
.nav-list,
.services-list,
.services-article-links-list,
.additional-article-list,
.footer-list,
.footer-tel-list,
.footer-time-list,
.site-contact-list,
.site-contact-time-list,
.site-contact-tel-list,
.faq-list,
.g-services-list,
.inspection-site-map-list,
.inspection-links-list,
.inspection-aside-list,
.articles-body-end-list,
.about-end-service-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.header-tel-list {
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding-top: 11px;
    margin-right: 119px;
}

.header-tel-list::before {
    position: absolute;
    top: 14px;
    left: calc(-13px - 9px);
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/phone.svg");
    background-position: center;
    background-size: 13px 13px;
    content: "";
}

.header-tel-item:not(:last-child) {
    margin-right: 22px;
}

.header-tel-link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;

}

.header-tel-link:hover {
    font-size: 14px;
    font-weight: 500;
    color: #ffbd54;
}

.header-tel-link:active {
    color: #333;
    opacity: 0.6;
}

.header-tel-link:nth-child(2) {
    background-color: red;
}

.header-tel-item:nth-child(2) .header-tel-link::before,
.header-tel-item:nth-child(3) .header-tel-link::before {
    position: absolute;
    top: 7px;
    left: calc(-4px - 9px);
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #ffbd54;
    border-radius: 50%;
    content: "";

}

.header-tel-item:first-child .header-tel-link {
    padding-bottom: 13px;
}

.header-time-list {
    position: relative;
}

.header-time-list::before {
    position: absolute;
    top: 14px;
    left: calc(-14px - 7px);
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../images/schedule.svg");
    background-position: center;
    background-size: 14px 14px;
    content: "";
}

.header-time-item {
    padding-top: 12px;
    padding-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.header-time-item:first-child {
    margin-right: 16px;
}

.header-end-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.header-overlay {
    position: absolute;
    left: -200px;
    width: 130%;
    height: 100%;
    background-color: #fff;
}

.logo-link {
    position: absolute;
    top: -17px;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-nav {
    margin-left: 301px;
    margin-right: 195px;
}

.nav-list {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.nav-list::before {
    position: absolute;
    top: 4px;
    left: calc(-15px - 12px);
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../images/fish.svg");
    background-position: center;
    background-size: 15px 15px;
    content: "";
}

.nav-link {
    position: relative;
    margin-right: 55px;
    padding: 20px 0;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color 0.3s ease,
        opacity 0.3s ease;
}

.nav-link:hover,
.header-end-link:hover {
    border-bottom-color: #f4ffAD;
}

.nav-link:active,
.header-end-link:active {
    opacity: 0.6;
}

.nav-item:last-child .nav-link {
    margin-right: 0;
}

.header-end-link {
    position: relative;
    padding-top: 19px;
    padding-bottom: 23px;
    color: #333;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: border-bottom-color 0.3s ease,
        opacity 0.3s ease;
}

.header-end-link::before {
    position: absolute;
    top: 19px;
    left: calc(-23px - 5px);
    display: inline-block;
    width: 23px;
    height: 21px;
    background-image: url("../images/pet.svg");
    background-position: center;
    background-size: 23px 21px;
    content: "";
}

/*header style ends*/

/*site body style for sticky footer*/
.site-body {
    flex-grow: 1;
}

/* site body style ends */

/*hero style */

.hero {
    padding-top: 154px;
    padding-bottom: 311px;
    background: url("../images/herobg.png") no-repeat calc(50% - 490px) calc(-100px),
        url("../images/herobgbird.png") no-repeat calc(50% + 670px) calc(418px);
}

.hero-wrapper {
    display: flex;
    justify-content: flex-end;
}

.hero-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 608px;
    margin-right: 32px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    color: #333;
}

.hero-title-stage {
    color: #78c0de;
}

.hero-desc-wrapper {
    width: 495px;

}

.hero-desc {
    margin-top: 0;
    margin-bottom: 38px;
    line-height: 21px;
    color: #949494;
}

.hero-link {
    min-width: 181px;
    padding: 15px 15px 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
    background-color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        opacity 0.3s ease;
}

.hero-link:hover {
    background-color: #ffbd54;
    color: #333;
}

.hero-link:active {
    opacity: 0.6;
}

/*hero style ends*/

/*site slogan style */

.site-slogan {
    padding-bottom: 191px;
}

.site-slogan-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 753px;
    margin: 0 auto;
}

.site-slogan-wrapper::before {
    position: absolute;
    top: 28px;
    left: -100px;
    display: inline-block;
    width: 50px;
    height: 42px;
    background-image: url("../images/fquote.svg");
    background-position: center;
    background-size: 50px 42px;
    content: "";
}

.site-slogan-wrapper::after {
    position: absolute;
    right: -86px;
    bottom: 90px;
    display: inline-block;
    width: 51px;
    height: 42px;
    background-image: url("../images/equote.svg");
    background-position: center;
    background-size: 51px 42px;
    content: "";
}

.site-slogan-desc {
    position: relative;
    margin: 0 0 35px 0;
    padding-top: 43px;
    padding-bottom: 35px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    color: #949494;
}

.site-slogan-desc::before {
    position: absolute;
    top: 0;
    left: 307px;
    display: inline-block;
    width: 140px;
    height: 1px;
    background-color: #dbdbdb;
    content: "";

}

.site-slogan-desc::after {
    position: absolute;
    bottom: 0;
    left: 307px;
    display: inline-block;
    width: 140px;
    height: 1px;
    background-color: #dbdbdb;
    content: "";

}

.site-slogan-author {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #333;
}

/*site slogan style ends*/

/*services style */

.services {
    padding-bottom: 127px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-list-wrapper {
    position: relative;
}

.services-title {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    color: #333;
}

.services-list {
    align-items: flex-start;
}

.services-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 193px;
    min-height: 201px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 35px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
}

.services-item:not(:last-child) {
    margin-right: 13px;
}

.services-item:nth-child(1) {
    min-height: 215px;
    padding-bottom: 42px;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

.services-item:nth-child(2) {
    padding-bottom: 28px;
}

.services-item:nth-child(3) {
    padding-bottom: 28px;
}

.services-item:nth-child(4) {
    padding-bottom: 39px;
}

.services-item:nth-child(5) {
    padding-bottom: 28px;
}

.services-item:nth-child(6) {
    padding-bottom: 39px;

}

.services-link {
    position: relative;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.services-link-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #333;
}

.services-link:hover {
    opacity: 0.8;
}

.services-link:active {
    opacity: 0.6;
}

.services-link::before {
    position: absolute;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
}

.services-item:nth-child(1) .services-link::before {
    top: -100px;
    left: 41px;
    width: 54px;
    height: 78px;
    background-image: url("../images/fiservice.svg");
    background-size: 54px 78px;
}

.services-item:nth-child(2) .services-link::before {
    top: -97px;
    left: 30px;
    width: 62px;
    height: 77px;
    background-image: url("../images/seservice.svg");
    background-size: 62px 77px;
}

.services-item:nth-child(3) .services-link::before {
    top: -100px;
    left: 25px;
    width: 72px;
    height: 78px;
    background-image: url("../images/tiservice.svg");
    background-size: 72px 78px;
}

.services-item:nth-child(4) .services-link::before {
    top: -110px;
    left: 8px;
    width: 76px;
    height: 76px;
    background-image: url("../images/foservice.svg");
    background-size: 76px 76px;
}

.services-item:nth-child(5) .services-link::before {
    top: -99px;
    left: 25px;
    width: 78px;
    height: 78px;
    background-image: url("../images/fifservice.svg");
    background-size: 78px 78px;
}

.services-item:nth-child(6) .services-link::before {
    top: -109px;
    left: 14px;
    width: 76px;
    height: 76px;
    background-image: url("../images/sixservice.svg");
    background-size: 76px 76px;
}

.services-list-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease,
        opacity 0.3s ease;
}

.services-list-btn:first-child {
    top: 100px;
    left: -66px;

}

.services-list-btn:last-child {
    top: 100px;
    right: -66px;
}

.services-list-btn:hover {
    background-color: #fff;
}

.services-list-btn:active {
    opacity: 0.6;
}

.services-article-wrapper {
    display: flex;
    align-items: center;
    padding: 41px 105px 41px 35px;
    background-color: #fff;
}

.services-article-img {
    border-radius: 5px;
    margin-right: 67px;
}

.services-article-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 492px;
}

.services-article-title {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 36px;
    font-weight: 500;
    color: #333;
}

.services-article-desc-wrapper {
    margin-bottom: 34px;
}

.services-article-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 20px;
    color: #949494;
}

.services-article-desc:first-child {
    margin-bottom: 9px;
}

.services-article-links-item {
    margin-right: 21px;
}

.services-article-link,
.inspection-link {
    position: relative;
    display: inline-block;
    min-width: 185px;
    padding: 15px 42px 16px;
    font-weight: 500;
    text-align: end;
    color: #fff;
    border-radius: 3px;
    background-color: #ffbd54;
    text-decoration: none;
    transition: background-color 0.3s ease,
        color 0.3s ease, opacity 0.3s ease;
}

.register-link {
    min-width: 241px;
    padding: 15px 37px 14px;
    background-color: #333;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        opacity 0.3s ease;
}

.register-link:hover {
    color: #333;
    background-color: #ffbd54;
}

.register-link:active {
    opacity: 0.6;
}

.services-article-link::before,
.inspection-link::before {
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.cost-link:hover {
    background-color: #333;
    color: #ffbd54;
}

.cost-link:active {
    opacity: 0.6;
}

.cost-link::before {
    left: 35px;
    width: 21px;
    height: 21px;
    background-image: url("../images/cost.svg");
    background-size: 21px 21px;
}

.register-link::before {
    left: 37px;
    width: 21px;
    height: 22px;
    background-image: url("../images/register.svg");
    background-size: 21px 22px;
}

/*services style ends */


/*contact section style*/

.contact-article {
    padding-top: 108px;
    padding-bottom: 216px;
    background: url("../images/dog.png") no-repeat center calc(0px);
    background-size: 1440px 481px;

}

.contact-article-wrapper {
    display: flex;
    flex-direction: column;
    width: 544px;
    margin-left: 197px;
    padding-top: 90px;
    padding-bottom: 88px;

}

.contact-article-title {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
}

.contact-article-form {
    display: flex;
    align-items: center;
}

.contact-article-input {
    width: 335px;
    margin-right: 21px;
    padding: 18px 22px 12px;
    font-style: normal;
    line-height: 20px;
    color: #333;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}

.contact-article-input:focus {
    border-color: #ffbd54;
}

.contact-article-input::placeholder {
    font-family: Futura PT;
    font-style: normal;
    line-height: 20px;
    color: #949494;
}

.contact-article-btn {
    min-width: 188px;
    padding: 15px 15px 14px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    color: #fff;
    border: none;
    border-radius: 3px;
    background-color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        opacity 0.3s ease;
}

.contact-article-btn:hover {
    color: #333;
    background-color: #ffbd54;
}

.contact-article-btn:active {
    opacity: 0.6;
}

/*contact section style ends */

/*additional article style */

.additional-article {
    padding-bottom: 265px;
}

.additional-article-wrapper {
    display: flex;
    flex-direction: column;
}

.additional-article-title {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 48px;
    text-align: center;
    color: #333;
}

.additional-article-item {
    display: flex;
    flex-direction: column;
    width: 305px;
    border-radius: 5px;
    border: 1px solid #e4e4e2;
    background-color: #fefefe;
}

.additional-article-item:not(:last-child) {
    margin-right: 24px;
}

.additional-article-item:nth-child(1) {}

.additional-article-item:nth-child(2) {
    flex-direction: row;
    width: 640px;
}

.additional-article-item:nth-child(3) {}

.additional-article-details-wrapper {
    display: flex;
    flex-direction: column;
}

.additional-article-time {
    align-self: end;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
    color: #949494;
}

.additional-article-details-title-wrapper {
    width: 182px;
}

.additional-article-details-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    color: #000;
}

.additional-article-details-desc-wrapper {
    width: 244px;
}

.additional-article-details-desc {
    margin-top: 0;
    margin-bottom: 38px;
    line-height: 20px;
    color: #949494;
}

.additional-article-details-link {
    position: relative;
    margin-left: 25px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.additional-article-details-link:hover {
    color: #ffbd54;
}

.additional-article-details-link:active {
    color: #333;
    opacity: 0.7;
}

.additional-article-details-link::before {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 21px;
    left: -28px;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 21px;
    content: "";
}

.additional-article-item:nth-child(2) .additional-article-img {
    margin-right: 31px;
}

.additional-article-details-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
}

.additional-article-hashtag {
    font-size: 14px;
    line-height: 22px;
    color: #3D9CEA;
    text-decoration: none;
}

.additional-article-hashtag:nth-child(1) {
    margin-right: 7px;
}

.additional-article-hashtag:nth-child(2) {
    margin-right: 8px;
}

.first-add-article {
    padding: 21px 22px 37px 30px;
}

.second-add-article {
    padding: 41px 35px 38px 0;
}

.second-add-article .additional-article-details-title {
    margin-bottom: 15px;

}

.second-add-article .additional-article-details-desc-wrapper {
    width: 270px;
}

.second-add-article .additional-article-details-desc {
    margin-bottom: 37px;
}

.third-add-article {
    padding: 19px 27px 40px 30px;
}

.third-add-article .additional-article-time {
    margin-bottom: 3px;
}

.third-add-article .additional-article-details-title {
    margin-bottom: 13px;
}

.third-add-article .additional-article-details-desc {
    margin-bottom: 32px;
}

/*additional article style ends*/


/*callback style*/

.callback {
    padding-bottom: 247px;
}

.callback-wrapper {
    display: flex;
}

.callback-map-wrapper {
    position: relative;
    left: -105px;
    width: 462px;
    height: 652px;
}

.callback-details-wrapper {
    position: relative;
    left: -105px;
    min-width: 1120px;
    max-width: 1200px;
    width: 100%;
    padding: 62px 0 74px 166px;
    background: #333 url("../images/callbackbg.png") no-repeat calc(14px) calc(4px);
}

.callback-details-inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 375px;
}

.callback-title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}

.callback-desc-wrapper {
    width: 334px;
}

.callback-desc {
    margin-top: 0;
    margin-bottom: 29px;
    line-height: 20px;
    color: #949494;
}

.callback-form {
    display: flex;
    flex-direction: column;
}

.callback-form-input {
    width: 375px;
    margin-bottom: 14px;
    padding: 16px 22px 13px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    border: 2px solid transparent;
    outline: none;
}

.callback-form-input:focus {
    border-color: #ffbd54;
}

.callback-form-input::placeholder {
    color: #949494;
    font-size: 16px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
}

.feedback-input {
    height: 165px;
    margin-bottom: 30px;
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    resize: none;
}

.feedback-input::placeholder {
    color: #949494;
    font-size: 16px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
}

.callback-form-btn {
    min-width: 226px;
    align-self: flex-start;
    padding: 15px 15px 14px;
    font-weight: 500;
    text-align: center;
    line-height: 19px;
    color: #fff;
    background: #ffbd54;
    border: none;
    cursor: pointer;
}

.invalid {
    color: #dc4d41 !important;
    border: 2px solid #dc4d41 !important;
}

/*callback style ends*/


/*site footer style */

.site-footer {
    padding-top: 54px;
    padding-bottom: 23px;
    border: 1px solid #ebebeb;
    background-color: #f3f3f3;
}

.footer-outer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    display: flex;
    margin-bottom: 28px;
}

.footer-left-side-wrapper {
    display: flex;
    align-items: center;
    margin-right: 157px;
}

.footer-logo-link {
    margin-right: 67px;
}

.footer-list {
    flex-direction: column;
}

.footer-first-list {
    margin-right: 58px;
}

.footer-item {
    min-width: 115px;
}

.footer-item:not(:last-child) {
    margin-bottom: 14px;
}

.footer-logo-link {
    transition: opacity 0.3s ease;
}

.footer-logo-link:hover {
    opacity: 0.8;
}

.footer-logo-link:active {
    opacity: 0.6;
}

.footer-link {
    color: #333;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.footer-link:hover {
    color: #ffbd54;
}

.footer-link:active {
    color: #333;
    opacity: 0.7;
}

.footer-address-info {
    display: flex;
    align-items: center;
    font-style: normal;
}

.footer-time-list {
    position: relative;
    flex-direction: column;
    margin-right: 138px;
}

.footer-time-list::before {
    position: absolute;
    top: 3px;
    left: calc(-14px - 14px);
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url("../images/schedule.svg");
    background-position: center;
    background-size: 14px 14px;
    content: "";
}

.footer-time-item {
    min-width: 122px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.footer-time-item:first-child {
    margin-bottom: 3px;
}

.footer-location-link-wrapper {
    width: 157px;
    margin-right: 112px;
}

.footer-location-link {
    position: relative;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.footer-location-link::before {
    position: absolute;
    top: 4px;
    left: calc(-14px - 9px);
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url("../images/house.svg");
    background-position: center;
    background-size: 14px 13px;
    content: "";
}

.footer-tel-list {
    position: relative;
    flex-direction: column;
}

.footer-tel-list::before {
    position: absolute;
    top: 5px;
    left: calc(-13px - 9px);
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../images/phone.svg");
    background-position: center;
    background-size: 13px 13px;
    content: "";
}

.footer-tel-item {
    min-width: 113px;
}

.footer-tel-link {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.footer-tel-link:hover {
    color: #ffbd54;
}

.footer-tel-link:active {
    color: #333;
    opacity: 0.6;
}

.copyright-wrapper {
    align-self: flex-end;
}

.copyright {
    color: #5c5c5c;
    font-size: 14px;
}

/*footer style ends*/


/*Contact html page style begins */

.site-contact {
    padding-top: 118px;
    padding-bottom: 135px;
    background-image: url("../images/contactbg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 470px) calc(18px);

}

.site-contact-details-wrapper {
    margin-bottom: 117px;
    margin-left: 87px;
    width: 447px;
}

.site-contact-title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    color: #333;
}

.site-contact-desc {
    margin-top: 0;
    margin-bottom: 0;
    color: #949494;
    line-height: 20px;
}

.site-contact-list-wrapper {
    margin-left: 86px;
}

.site-contact-list {
    align-items: flex-start;
}


.site-contact-item:not(:last-child) {
    margin-right: 118px;
}

.site-contact-item:first-child {
    width: 153px;
}

.site-contact-item:first-child::before {
    margin-bottom: 27px;
    display: inline-block;
    width: 73px;
    height: 73px;
    background-image: url("../images/contactmap.svg");
    background-repeat: no-repeat;
    content: "";
}

.site-contact-location-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
}


.site-contact-time-list {
    flex-direction: column;
}

.site-contact-time-list::before {
    margin-bottom: 27px;
    display: inline-block;
    width: 76px;
    height: 72px;
    background-image: url("../images/contactcalendar.svg");
    background-repeat: no-repeat;
    content: "";
}

.site-contact-time-item {
    min-width: 137px;
    font-weight: 500;
    line-height: 15px;
    color: #333;
}

.site-contact-time-item:first-child {
    margin-bottom: 12px;
}

.site-contact-tel-list {
    flex-direction: column;
}

.site-contact-tel-list::before {
    margin-bottom: 27px;
    display: inline-block;
    width: 46px;
    height: 73px;
    background-image: url("../images/contacttel.svg");
    background-repeat: no-repeat;
    content: "";
}

.site-contact-tel-item {
    min-width: 130px;
}

.site-contact-tel-item:not(:last-child) {
    margin-bottom: 9px;
}

.site-contact-tel-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.site-contact-tel-link:hover {
    color: #ffbd54;
}

.site-contact-tel-link:active {
    color: #333;
    opacity: 0.6;
}

.site-contact-map {
    padding-top: 247px;
    padding-bottom: 206px;
    background: url("../images/searchpet.svg") no-repeat calc(50% + 205px) calc(-7px);
}

.site-contact-map-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.site-contact-map-location-wrapper {
    height: 466px;
}

.site-contact-map-wrapper::before {
    position: absolute;
    top: -297px;
    display: inline-block;
    width: 443px;
    height: 342px;
    background-image: url("../images/searchdog.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 443px 342px;
    content: "";
}

.site-contact-map-title {
    margin-top: 0;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #333;
}

/*Contact html page style ends */


/*FAQ html page style */

.faq {
    padding-top: 118px;
    padding-bottom: 270px;
    background: url("../images/faqcatbg.png") no-repeat calc(50% + 500px) calc(55px),
        url("../images/faqbirdbg.png") no-repeat calc(50% + 450px) calc(94%);
}

.faq-details-wrapper {
    width: 447px;
    margin-left: 87px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.faq-title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    color: #333;
}

.faq-desc {
    margin-top: 0;
    margin-bottom: 35px;
    line-height: 20px;
    color: #949494;
}

.faq-link {
    position: relative;
    min-width: 201px;
    padding: 15px 38px 14px;
    font-weight: 500;
    text-align: end;
    color: #fff;
    border-radius: 3px;
    background-color: #78c0de;
    text-decoration: none;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        opacity 0.3s ease;
}

.faq-link:hover {
    background-color: #ffbd54;
    color: #333;
}

.faq-link:active {
    opacity: 0.6;
}


.faq-link::before {
    position: absolute;
    left: 39px;
    width: 21px;
    height: 21px;
    background-image: url("../images/register.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: center;
    content: "";
}

.faq-list {
    margin-left: 82px;
    flex-direction: column;
    align-items: flex-start;
}

.faq-item {
    min-width: 752px;
    min-height: 129px;
    margin-bottom: 18px;
    padding: 33px 112px 32px 63px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    background-color: #fff;
}

.faq-item-date-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.faq-item-date-wrapper::before {
    position: relative;
    left: 0;
    width: 23px;
    height: 20px;
    margin-right: 7px;
    background-image: url("../images/petitemimg.svg");
    background-repeat: no-repeat;
    background-size: 23px 20px;
    background-position: center;
    content: "";
}

.faq-item:nth-child(even) .faq-item-date-wrapper::before {
    background-image: url("../images/petitemimgblue.svg");
}

.faq-item-time {
    margin-right: 28px;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}

.faq-item-time-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    color: #78c0de;
}

.faq-item-details-wrapper {
    position: relative;
    width: 577px;
}

.faq-item-title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    color: #333;
}

.active-faq-item {
    margin-bottom: 21px;
    padding-bottom: 75px;
}

.active-faq-item-title {
    margin-bottom: 23px;
}

.inactive-faq-item {
    opacity: 0.6;
}

.inactive-faq-item:hover {
    cursor: not-allowed;
}

.inactive-faq-item .faq-item-btn {
    top: 2px;
    right: -76px;
}

.faq-item-desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    color: #949494;
}

.faq-item-btn {
    position: absolute;
    top: 8px;
    right: -71px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease,
        opacity 0.3s ease;
}

.faq-item-btn:active {
    opacity: 0.6;
}

/*FAQ html page style ends*/


/*Our services html page style */

.general-services {
    padding-top: 118px;
    padding-bottom: 169px;
    background: url("../images/parrotservicebg.png") no-repeat calc(50% + 510px) calc(-25px);
}

.g-services-wrapper {
    width: 447px;
    margin-bottom: 141px;
    margin-left: 87px;
}

.g-services-title {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    color: #333;
}

.g-services-desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    color: #949494;
}

.g-services-list {
    flex-wrap: wrap;
}

.g-services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 305px;
    min-height: 420px;
    margin-right: 30px;
    margin-bottom: 34px;
    padding: 157px 22px 45px 53px;
    background: url("../images/petblwh.svg") no-repeat calc(50% + 78px) top;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
    ;
}

.g-services-item:nth-child(4n) {
    margin-right: 0;
}

.g-services-item-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    color: #333;
}

.g-services-item-title::before {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.g-services-item:nth-child(1) .g-services-item-title::before {
    top: -100px;
    width: 54px;
    height: 78px;
    background-image: url("../images/fiservice.svg");
    background-size: 54px 78px;
}

.g-services-item:nth-child(2) .g-services-item-title::before {
    top: -99px;
    width: 62px;
    height: 77px;
    background-image: url("../images/seservice.svg");
    background-size: 62px 77px;
}

.g-services-item:nth-child(3) .g-services-item-title::before {
    top: -99px;
    width: 72px;
    height: 78px;
    background-image: url("../images/tiservice.svg");
    background-size: 72px 78px;
}

.g-services-item:nth-child(4) .g-services-item-title::before {
    top: -98px;
    width: 76px;
    height: 76px;
    background-image: url("../images/foservice.svg");
    background-size: 76px 76px;
}

.g-services-item:nth-child(5) .g-services-item-title::before {
    top: -100px;
    width: 78px;
    height: 78px;
    background-image: url("../images/fifservice.svg");
    background-size: 78px 78px;
}

.g-services-item:nth-child(6) .g-services-item-title::before {
    top: -100px;
    width: 76px;
    height: 76px;
    background-image: url("../images/sixservice.svg");
    background-size: 76px 76px;
}

.g-services-item:nth-child(7) .g-services-item-title::before {
    top: -99px;
    width: 77px;
    height: 77px;
    background-image: url("../images/serviceus.svg");
    background-size: 77px 77px;
}

.g-services-item:nth-child(8) .g-services-item-title::before {
    top: -100px;
    width: 40px;
    height: 78px;
    background-image: url("../images/servicechip.svg");
    background-size: 40px 78px;
}

.g-services-item:nth-child(9) .g-services-item-title::before {
    top: -99px;
    width: 87px;
    height: 78px;
    background-image: url("../images/servicepassport.svg");
    background-size: 87px 78px;
}

.g-services-item:nth-child(10) .g-services-item-title::before {
    top: -99px;
    width: 68px;
    height: 77px;
    background-image: url("../images/servicevac.svg");
    background-size: 68px 77px;
}

.g-services-item:nth-child(11) .g-services-item-title::before {
    top: -100px;
    width: 78px;
    height: 78px;
    background-image: url("../images/servicestm.svg");
    background-size: 78px 78px;
}

.g-services-item:nth-child(12) .g-services-item-title::before {
    top: -100px;
    width: 77px;
    height: 77px;
    background-image: url("../images/servicehome.svg");
    background-size: 77px 77px;
}

.g-services-item:nth-child(1) .g-services-item-link {
    font-weight: 600;
}

.g-services-item:nth-child(2) .g-services-item-link {
    font-weight: 600;
}

.g-services-item-desc {
    margin-top: 0;
    margin-bottom: 26px;
    line-height: 20px;
    color: #949494;
}

.g-services-item-link {
    min-width: 156px;
    padding: 15px 15px 14px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s ease,
        opacity 0.3s ease;
}

.g-services-item:nth-child(odd) .g-services-item-link {
    background-color: #ffbd54;
}

.g-services-item:nth-child(even) .g-services-item-link {
    background-color: #78c0de;
}

.g-services-item-link:hover {
    background-color: #333 !important;

}

.g-services-item-link:active {
    opacity: 0.6;
}


/*Our services html page style ends */


/*Initial inspection html page style */

.inspection-bg-wrapper {
    margin-bottom: 33px;
}

.inspection-bg-img {
    position: relative;
    left: -85px;
}

.initial-inspection-wrapper {
    display: flex;
    margin-left: 198px;
}

.inspection-details-wrapper {
    margin-right: 143px;
}

.inspection-site-map-list {
    margin-bottom: 33px;
}

.inspection-site-map-item:not(:last-child) {
    margin-right: 17px;
}

.inspection-site-map-link {
    position: relative;
    font-size: 14px;
    color: #949494;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.inspection-site-map-item:not(:first-child) .inspection-site-map-link::before {
    position: absolute;
    top: 8px;
    left: -10px;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffbd54;
    content: "";
}

.inspection-site-map-link:active {
    opacity: 0.6;
}

.active-map-link {
    color: #333;
}

.inspection-title {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 70px;
    line-height: 64px;
    color: #333;
}

.inspection-title-stage {
    color: #ffbd54;
}

.inspection-desc-wrapper {
    width: 638px;
    margin-bottom: 64px;
}

.inspection-desc {
    margin-top: 0;
    margin-bottom: 22px;
    line-height: 20px;
    color: #949494;
}


.inspection-desc:nth-child(2) {
    margin-bottom: 28px;
}

.inspection-desc:last-child {
    margin-bottom: 0;
}


.inspection-links-item:first-child .inspection-link {
    margin-right: 21px;
}

.inspection-aside-wrapper {
    margin-top: 9px;
}


.inspection-aside-list {
    flex-direction: column;
}

.inspection-aside-item {
    width: 305px;
    border-radius: 5px;
    border: 1px solid #e4e4e2;
}

.inspection-aside-item:first-child {
    margin-bottom: 11px;
}

.inspection-aside-item-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 19px 27px 40px 30px;
}


.inspection-aside-item-time {
    align-self: flex-end;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #949494;
}


.inspection-aside-item-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    color: #000;
}

.inspection-aside-item-desc-wrapper {
    width: 244px;
}

.inspection-aside-item-desc {
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 20px;
    color: #949494;
}

.inspection-aside-item-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.inspection-aside-item-link {
    position: relative;
    margin-left: 25px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.inspection-aside-item-link:hover {
    color: #ffbd54;
}

.inspection-aside-item-link:active {
    color: #333;
    opacity: 0.7;
}

.inspection-aside-item-link::before {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 21px;
    left: -28px;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 21px;
    content: "";
}


.inspection-contact {
    padding-top: 174px;
    padding-bottom: 187px;
    background: url("../images/insconbg.png") no-repeat calc(50%) calc(122px);

}

.inspection-contact-wrapper {
    display: flex;
    margin-left: 87px;
    padding-top: 64px;
    padding-bottom: 65px;

}

.inspection-contact-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 276px;
    margin-right: 61px;
}

.inspection-contact-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    color: #fff;
}

.inspection-contact-desc {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
}

.inspection-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inspection-form-input {
    width: 335px;
    padding: 16px 22px 13px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    border: 2px solid transparent;
    outline: none;
}

.inspection-form-input:focus {
    border-color: #ffbd54;
}

.inspection-form-input:not(:last-child) {
    margin-bottom: 14px;
}

.inspection-form-input::placeholder {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #949494;
}

.inspection-form-btn {
    min-width: 226px;
    padding: 15px 15px 14px;
    font-weight: 500;
    color: #fff;
    border-color: transparent;
    background-color: #000;
    cursor: pointer;
}


/*Initial inspection html page style ends */


/*Articles html page style */


.articles-main {
    padding-top: 118px;
    padding-bottom: 132px;
    background: url("../images/siberiancat.png") no-repeat calc(50% + 340px) calc(37px);
}

.articles-main-details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 87px;
}

.articles-main-title {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 70px;
    line-height: 64px;
    color: #333;
}

.articles-main-desc-wrapper {
    width: 447px;
}


.articles-main-desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    color: #949494;
}

.articles-body-start-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 126px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    background: #fff;
}

.articles-body-start-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 68px 110px 69px 82px;
}

.articles-body-start-details-time-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.articles-body-start-hashtag {
    line-height: 22px;
    color: #3d9cea;
    text-decoration: none;
}

.articles-body-start-hashtag:not(:last-child) {
    margin-right: 7px;
}

.articles-body-start-time {
    font-size: 14px;
    font-weight: 500;
    color: #949494;
}

.articles-body-start-title-wrapper {
    width: 325px;
}

.articles-body-start-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
}

.articles-body-start-desc-wrapper {
    width: 517px;
}

.articles-body-start-desc {
    margin-top: 0;
    margin-bottom: 52px;
    line-height: 20px;
    color: #949494;
}

.articles-body-start-link {
    position: relative;
    margin-left: 28px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.articles-body-start-link:hover {
    color: #ffbd54;
}

.articles-body-start-link:active {
    color: #333;
    opacity: 0.7;
}

.articles-body-start-link::before {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 21px;
    left: -28px;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 21px;
    content: "";
}

.articles-body-end-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

.articles-body-end-list {
    flex-wrap: wrap;
    margin-bottom: 116px;
}


.articles-body-end-item {
    width: 305px;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid #e4e4e2;
}

.articles-body-end-item:nth-child(4n) {
    margin-right: 0;
}

.articles-body-end-item:nth-child(-n+4) {
    margin-bottom: 60px;
}

.articles-body-end-item-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 19px 27px 40px 30px;
}

.articles-body-end-item:nth-child(1) .articles-body-end-item-details-wrapper {
    padding-bottom: 37px;
}

.articles-body-end-item:nth-child(4) .articles-body-end-item-details-wrapper {
    padding-bottom: 37px;
}

.articles-body-end-item:nth-child(5) .articles-body-end-item-details-wrapper {
    padding-bottom: 37px;
}

.articles-body-end-item:nth-child(8) .articles-body-end-item-details-wrapper {
    padding-bottom: 37px;
}

.articles-body-end-item-time {
    align-self: flex-end;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #949494;
}

.articles-body-end-item-title-wrapper {
    width: 201px;
}

.articles-body-end-item-title {
    margin-top: 0;
    margin-bottom: 13px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #000;
}

.articles-body-end-item-desc-wrapper {
    width: 244px;
}

.articles-body-end-item-desc {
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 20px;
    color: #949494;
}

.articles-body-end-item-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.articles-body-end-item-link {
    position: relative;
    margin-left: 25px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease,
        opacity 0.3s ease;
}

.articles-body-end-item-link:hover {
    color: #ffbd54;
}

.articles-body-end-item-link:active {
    color: #333;
    opacity: 0.7;
}

.articles-body-end-item-link::before {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 21px;
    left: -28px;
    background-image: url("../images/pet.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 21px;
    content: "";
}

.articles-body-end-link {
    position: relative;
    min-width: 201px;
    padding: 16px 40px 16px 16px;
    font-weight: 500;
    text-align: end;
    color: #fff;
    border-radius: 3px;
    background-color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease,
        opacity 0.3s ease;
}

.articles-body-end-link:hover {
    background-color: #ffbd54;
}

.articles-body-end-link:active {
    opacity: 0.6;
}

.articles-body-end-link::before {
    position: absolute;
    display: inline-block;
    width: 19px;
    height: 16px;
    top: 18px;
    left: 39px;
    background-image: url("../images/loading.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 16px;
    content: "";
}


/*Articles html page style ends */

/*About html page style */

.about-main {
    padding-top: 117px;
    padding-bottom: 309px;
    background: url("../images/contactpetsbg.svg") no-repeat calc(50% - 335px) calc(295px),
        url("../images/womenaboutbg.png") no-repeat calc(50% + 400px) calc(15px);
}

.about-main-wrapper {
    width: 411px;
    margin-left: 87px;
}

.about-main-title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 70px;
    line-height: 64px;
    color: #333;
}

.about-main-desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    color: #949494;
}

.about-body {
    background: #fff url("../images/contactfishgroup.svg") no-repeat calc(50% + 384px) calc(10px);
}

.about-body-article-view-wrapper {
    display: flex;
}

.about-body-article-view-details-wrapper {
    min-width: 735px;
    padding: 127px 66px 140px 112px;
}


.about-body-article-view-desc {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
    color: #949494;
}


.about-body-article-view-desc-stage {
    font-weight: 500;
    color: #ffbd54;
}

.about-end {
    padding-bottom: 145px;
}

.about-end-article-service-wrapper {
    width: 1440px;
    background: url("../images/contactdogly.png") no-repeat calc(50% + 350px) calc(5px);
    background-size: 797px 532px;
}

.about-end-article-service-details-wrapper {
    width: 494px;
    margin-left: 87px;
    padding-top: 128px;
    padding-bottom: 221px;
}


.about-end-article-service-desc {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    color: #949494;
}

.about-end-article-service-desc:first-child {
    margin-bottom: 19px;
}

.about-end-article-service-desc-stage {
    font-weight: 500;
    color: #78c0de;
}


.about-end-service-img-wrapper {
    display: flex;
    margin-left: 87px;
}


.about-end-service-details-wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 416px;
    margin-right: 30px;

}

.about-end-service-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 46px;
    font-weight: 700;
    line-height: 48px;
    color: #333;
}

.about-end-service-title-stage {
    color: #ffbd54;
}

.about-end-service-desc-wrapper {
    width: 343px;
}

.about-end-service-desc {
    margin-top: 0;
    margin-bottom: 88px;
    line-height: 20px;
    color: #949494;
}


.about-end-service-pagination-wrapper {
    display: flex;
    align-items: center;
}

.about-end-service-btn-wrapper {
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.about-end-service-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease,
        opacity 0.3s ease;
}

.about-end-service-btn:hover {
    background-color: #fff;
}


.about-end-service-btn:active {
    opacity: 0.6;
}


.about-end-service-btn:first-child {
    margin-left: -20px;
    margin-right: 15px;
}


.about-end-service-list {
    align-items: center;
}

.about-end-service-item {
    border-radius: 5px;
}


.about-end-service-item:not(:last-child) .about-end-service-img {
    margin-right: 20px;
}


/*About html page style ends */


/* Pop up style */

.question-pop-up-overlay,
.pop-up-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
}

.question-pop-up-overlay-active,
.pop-up-overlay-active {
    display: block;
}

.question-pop-up,
.pop-up {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    width: 850px;
    max-width: 70%;
    padding: 119px 51px 137px 70px;
    background-color: #ffbd54;
    background-image: url("../images/doghangphone.png"), url("../images/hangpets.svg");
    background-repeat: no-repeat;
    background-position: calc(25px) calc(330px), center;
    transition: transform 0.3s ease;
}


.question-pop-up-active,
.pop-up-active {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.q-pop-up-btn,
.pop-up-btn {
    position: absolute;
    top: 21px;
    left: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.q-pop-up-btn:active,
.pop-up-btn:active {
    opacity: 0.6;
}


.q-pop-up-main-wrapper {
    display: flex;
    align-items: flex-start;
}

.q-pop-up-social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 136px;
    margin-top: 27px;
}

.q-pop-up-social-desc {
    margin-top: 0;
    margin-bottom: 21px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #333;
}

.q-pop-up-social-link {
    position: relative;
    min-width: 238px;
    padding: 14px 36px 15px 14px;
    font-weight: 500;
    text-align: end;
    color: #333;
    background-color: #fff;
    text-decoration: none;

}

.q-pop-up-social-link:not(:last-child) {
    margin-bottom: 21px;
}

.q-pop-up-social-link::before {
    position: absolute;
    left: 35px;
    top: 16px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/google.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    content: "";
}


.q-pop-up-social-link:nth-child(3)::before {
    left: 22px;
    background-image: url("../images/facebook.svg");
}


.q-pop-up-form-wrapper,
.q-pop-up-form,
.pop-up-form-wrapper,
.pop-up-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.q-pop-up-form-title,
.pop-up-form-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
    line-height: 54px;
    color: #333;
}

.q-pop-up-input,
.pop-up-input {
    padding: 16px 22px 13px;
    width: 335px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    border: 2px solid transparent;

}

.q-pop-up-input:first-child {
    margin-bottom: 21px;
}

.q-pop-up-input::placeholder,
.pop-up-input::placeholder {
    color: #949494;
}

.q-pop-up-input-feedback,
.pop-up-input-feedback {
    height: 165px;
    margin-bottom: 27px;
    resize: none;
}

.q-pop-up-input-feedback::placeholder,
.pop-up-input-feedback {
    font-family: Futura PT;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #949494;
}

.q-pop-up-input-btn,
.pop-up-input-btn {
    min-width: 193px;
    padding: 14px 14px 15px 55px;
    font-weight: 500;
    text-align: start;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.pop-up {
    padding: 61px 71px 81px;
    background-image: url("../images/pop_up_dog.png"), url("../images/hangpets.svg");
    background-position: left calc(127px), center;
}

.pop-up-main-wrapper {
    display: flex;
    justify-content: flex-end;
}

.pop-up-form-title-wrapper {
    width: 252px;
    margin-bottom: 28px;
}

.pop-up-form-title {
    margin-bottom: 0;
}

.pop-up-input {
    width: 335px;
}

.pop-up-input:not(:last-child) {
    margin-bottom: 14px;
}

.pop-up-input-feedback {
    margin-bottom: 26px;
}


/* Pop up style ends */